.auth-form {
  ion-content {
    ion-item {
      --padding-start: 0;
      --inner-padding-end: 0;
      --background: transparent;
    }
  }

  .title.small {
    text-align: center;
    margin: 10% auto;
  }

  ion-header {
    padding-top: 10%;
  }
}
