.looks-comfort-slider-item {
  background: inherit;
  margin: 0;
  padding: 2% 7%;
  color: var(--light-font-color);
  border-radius: 30px;
  box-sizing: border-box;
  height: 100%;

  ion-card-header {
    padding: 0 0 10px 0;
    ion-card-subtitle {
      --color: var(--light-font-color);
      margin: 0;
    }
  }
  .comfort-block {
    width: 20%;
    text-align: center;

    ion-icon {
      font-size: 30px;
    }
  }

  ion-card-content {
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .look-grid-wrapper {
      width: 60vw;
    }
  }

  .thermal-description {
    margin-top: 5%;
    text-transform: capitalize;
  }
}
