.looks-comfort-slider-item {
  background: inherit;
  margin: 0;
  padding: 2% 7%;
  color: var(--light-font-color);
  border-radius: 30px;
  box-sizing: border-box;
  height: 100%;

  ion-card-header {
    padding: 0 0 10px 0;
    ion-card-subtitle {
      --color: var(--light-font-color);
      margin: 0;
    }
  }

  ion-card-content {
    padding: 0;
    width: 100%;
    height: 80%;
    display: grid;
    grid-template-columns: 1fr 0.3fr;
    grid-template-rows: 1fr 0.2fr;
    align-items: center;

    .look-grid-wrapper {
      width: 60vw;
      grid-area: 1 / 1 / 2 / 2;
    }

    .comfort-block {
      width: fit-content;
      grid-area: 1 / 2 / 2 / 3;
      text-align: center;

      ion-icon {
        font-size: 30px;
      }
    }

    .thermal-description {
      margin-top: 5%;
      text-transform: capitalize;
      grid-area: 2 / 1 / 3 / 3;
    }
  }
}
