.input-wrapper {
  display: block;
  width: 100%;
  margin: 10% 0;

  ion-input {
    border-bottom: 1px solid var(--light-black-background);
    --background: transparent;
    font-weight: 600;
    font-family: var(--font-family);
  }

  ion-label {
    margin-top: 10px;
    display: block;
    text-align: right;
  }
  .input-errors {
    color: var(--red-color);
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px var(--light-black-background) inset !important;
  }
}
