.drag-area {
  position: relative;
  width: 90vw;
  margin: auto;
  height: 100%;

  .drag-area-border {
    width: 100%;
    height: 60%;
    border: 1px solid var(--light-black-background);
    border-radius: 10px;
    margin: 20px auto;
  }
}
