.looks-comfort-slider {
  width: 90vw;
  height: 15vh;
  margin: 4% auto;
  background: var(--light-black-background);
  border-radius: 20px;
  overflow: hidden;
  box-sizing: border-box;
  transition: ease-out 0.15s;
  will-change: height;

  ion-text {
    display: block;
    width: fit-content;
    margin: 5% auto;
  }

  .thermal-description {
    display: none;
  }

  &.expand {
    height: 22vh;

    .thermal-description {
      display: block;
    }
  }

  .swiper-pagination-bullet {
    background: var(--dark-black-background);
  }
}
