.select-city-panel {
  position: absolute;
  top: 0;
  z-index: 1;
  padding: 10px;
}
ion-input.select-city-input {
  border-bottom: 1px solid var(--black-color);
  font-family: var(--font-family);
}
