ion-button {
  display: block;
  margin: auto;
  width: 100%;
  --background-activated: var(--ion-color-primary-shade, --yellow-color);
  --background-focused: var(--ion-color-primary-shade, --yellow-color);
  --background-hover: var(--ion-color-primary-tint, --yellow-color);
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  --color: var(--light-black-color);
  height: fit-content;
  --padding-top: 0.8rem;
  --padding-bottom: 0.8rem;

  &.title {
    color: var(--light-black-color) !important;
  }

  &.yellow {
    --background: var(--yellow-color);
  }
  &.red {
    --background: var(--red-color);
    --color: var(--light-font-color);
  }
  &.blue {
    --background: var(--blue-color);
    --color: var(--light-font-color);
  }
  &.light {
    --background: var(--light-gray-color);
  }
  &.dark {
    --background: var(--light-black-background);
    --color: var(--light-font-color);
  }
  &.default {
    --background: transparent;
    box-shadow: unset;
    --color: inherit;
  }
}
