.weather-slider {
  width: 90vw;
  margin: auto;
  background: var(--light-black-background);
  border-radius: 20px;
  overflow: hidden;

  .swiper {
    width: 100%;
    box-sizing: border-box;
  }
}
