.weather-slider {
  width: 90vw;
  margin: auto;
  overflow: hidden;
  background: var(--gray-blue-background);
  border-radius: 20px;

  .swiper {
    overflow: unset;
    width: 100%;
    box-sizing: border-box;
  }
}
