.tab-icon {
  font-size: 10px;
}

ion-tab-bar {
  padding-bottom: 5%;
  height: 8%;
  --background: var(--light-black-background);
  --color: var(--light-font-color);

  .tab-selected {
    &.main {
      color: var(--yellow-color);
    }
    &.closet {
      color: var(--light-blue-color);
    }
    &.settings {
      color: var(--light-font-color);
    }
  }
}
