.look-panel {
  ion-content,
  ion-toolbar {
    --background: var(--dark-black-color);
  }
  .look-name-input {
    text-align: left;
    margin: auto 5%;
    width: 90%;
    box-sizing: border-box;
    border-bottom: 1px solid var(--light-black-background);
  }
}
