.select-city-panel {
  position: absolute;
  top: 0;
  z-index: 1;
  .icon-btn {
    margin: 150% 0 0 50%;
  }
}
input.select-city-input {
  border-bottom: 1px solid var(--light-black-color);
  font-family: var(--font-family);
}

.select-city-modal {
  background: rgba(245, 245, 245, 0.19);
}
