.auth-form {
  height: 100%;
  width: 100%;
  background: var(--main-background);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  ion-header {
    background: inherit;
    margin-top: 10%;
  }
  .form-content {
    margin: auto;
    width: 80%;

    .btn {
      margin-top: 30%;
    }

    .toggle-auth-type {
      margin: 10% auto;
      width: fit-content;
    }
  }
}
