.closet-item-fab {
  width: 30vw;
  height: 30vw;
  --border-radius: unset;
  margin: 2% 0;
}
.closet-item-wrapper {
  border-radius: 10px;
  border: 1px var(--light-black-background) solid;
  background-color: var(--light-black-background);
  text-align: center;
  padding: 1%;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  .text {
    color: var(--light-font-color);
    text-transform: capitalize;
    font-size: 18px;
  }

  .closet-item {
    height: fit-content;
    width: fit-content;
    text-align: center;
    color: var(--black-color);
    background-color: unset;

    ion-avatar {
      background-color: var(--dark-black-background);
      width: 20vw;
      height: 20vw;
      margin: 0;
      display: flex;
      position: relative;
      overflow: hidden;

      span {
        margin: auto;
        font-size: 50px;
        display: block;
        color: var(--light-font-color);
        text-shadow: -1px -1px 0 var(--dark-black-background),
          1px -1px 0 var(--dark-black-background),
          -1px 1px 0 var(--dark-black-background),
          1px 1px 0 var(--dark-black-background);
      }
    }
  }
}
