@import url("https://fonts.googleapis.com/css2?family=Cantarell:wght@400;700&display=swap");
@import "/src/assets/icomoon/style.css";

:root {
  --light-black-color: #464e69;
  --dark-black-color: rgb(40, 46, 55);
  --dark-black-background: #29323c;
  --shadow-color: #181d23;
  --light-black-background: #485563;
  --light-font-color: #cdd4e6;
  --yellow-color: rgb(234, 186, 112);
  --dark-yellow-color: #ebb162;
  --red-color: #9c3829;
  --dark-gray-color: #aeafb7;
  --gray-color: #cdcfd6;
  --light-gray-color: #f5f5f5;
  --main-background: #e7e9eb;
  --blue-color: rgb(80, 106, 123);
  --light-blue-color: rgb(136, 196, 220);
  --morning-blue: rgb(118, 148, 164);
  --gray-blue-background: rgb(208, 214, 216);
  --font-family: "Cantarell", sans-serif;
  --light-background: linear-gradient(
    180deg,
    #e7e8eb 50%,
    rgb(212, 216, 217) 100%
  );
}

body {
  margin: 0;
  font-family: var(--font-family);
  font-size: 18px;
  background: var(--dark-black-background);
}

#root {
  background: var(--dark-black-background);
}

ion-searchbar ion-icon {
  color: var(--light-black-background) !important;
}

ion-loading,
ion-text,
ion-content,
ion-searchbar,
ion-list,
ion-item,
ion-toast,
ion-header,
ion-toolbar {
  --background: var(--dark-black-background);
  color: var(--light-font-color) !important;
  --color: var(--light-font-color);
  font-family: var(--font-family) !important;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

ion-item {
  --border-color: var(--light-black-background);
}
ion-icon.icon-btn {
  font-size: 40px;
  color: var(--light-font-color);
}

.text {
  font-family: var(--font-family) !important;
  font-size: 18px;

  &.small {
    font-size: 14px;
  }
  &.large {
    font-size: 20px;
  }
  &.bold {
    font-weight: bold;
  }
}

.title {
  color: var(--light-font-color) !important;
  font-family: var(--font-family) !important;
  font-weight: bold;

  &.small {
    font-size: 20px;
  }
  &.medium {
    font-size: 26px;
  }
  &.large {
    font-size: 30px;
  }
  &.extra {
    font-size: 50px;
  }
}
