.weather-slide-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  width: 100%;
  max-height: 70%;
  border-radius: 20px;
  box-sizing: border-box;

  &.selected {
    color: #ffffff !important;
    background: var(--blue-color);
  }
  & * {
    margin-top: 2px;
  }
}
