.weather-slide-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6px 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  box-sizing: border-box;

  &.selected {
    color: #ffffff !important;
    background: var(--blue-color);
  }
  &.new-day {
    box-shadow: -5px 0 5px 1px rgba(56, 56, 56, 0.28);
    border-left: 0.1px solid var(--dark-black-background);
  }

  & * {
    margin-top: 2px;
  }
}
